.payment-container {
  max-width: 400px;
  margin: 1rem auto 1rem auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.payment-form .form-group {
  margin-bottom: 15px;
}

.payment-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.payment-form input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.payment-form .form-row {
  display: flex;
  justify-content: space-between;
}

.payment-form .form-row .form-group {
  flex: 1;
  margin-right: 10px;
}

.payment-form .form-row .form-group:last-child {
  margin-right: 0;
}

.payment-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.payment-btn:hover {
  background-color: #218838;
}

.payment-form button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.payment-form button:hover {
  background-color: #45a049;
}

#paynow {
  cursor: not-allowed;
  opacity: 0.7;
}

.form-group label {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
}
.form-group input:hover {
  /* border:1px solid rgb(58, 58, 255); */
  transition: 0.4s;
  box-shadow: 4px 4px 8px rgba(131, 131, 131, 0.5),
    inset 2px 2px 8px rgba(224, 224, 224, 0.5);
}
.error {
  color: red;
}
